/* *RESETING STYLES */

/* *GLOBAL SCOOPE */
:root {
  /* for mobile devices */
  --header-height: 60px;
  --primary-color: hsl(354, 78%, 60%);
  --body-color: hsl(206, 4%, 97%);
  --text-color: hsl(0, 0%, 20%);
  --title-color: hsl(0, 0%, 10%);
  --bg-color: hsl(0, 0%, 100%);
  --card-color: hsl(0, 0%, 90%);

  /* fonts */
  --body-font: "Open Sans", sans-serif;
  --title-font: "Poppins", sans-serif;

  /* *FONT SIZES */
  --big-font: 2rem;
  --medium-font: 1.5rem;
  --normal-font: 1rem;
  --small-font: 0.8rem;
  --tiny-font: 0.75rem;

  /* *FONT-THICKNESS */
  --font-bold: 700;
  --font-medium: 600;
  --font-normal: 400;
  --font-tiny: 300;

  /* *MARGINS AND PADDING */
  --sp-0-5: 0.5rem;
  --sp-0-75: 0.75rem;
  --sp-1: 1rem;
  --sp-1-5: 1.5rem;
  --sp-2: 2rem;
  --sp-2-5: 2.5rem;
  --sp-3: 3rem;

  /* *Z-INDEX */
  /* to be used in nav bar */
  /* when user scrolls down, nav bar will stay over elements*/
  --z-fixed: 100;
  /* modal, elements will be in front of nav bar */
  --z-modal: 200;
}

/* *when devices have a min width of 992px everything inside root's variable will increase their size automatically */
@media (min-width: 992px) {
  :root {
    --big-font: 2.5rem;
    --medium-font: 2rem;
    --normal-font: 1.25rem;
    --small-font: 1rem;
    --tiny-font: 0.8rem;
  }
}

/* *CONFIGURING HTML'S AND BODY'S DEFAULT PROPERTIES */
html,
body {
  /* full document heigth will be applied */
  height: 100%;
}

/* *STYLING HTML */
html {
  /* font size */
  font-size: 16px;
  /* line spacing DO NOT USE px*/
  line-height: 1.5;
  scroll-behavior: smooth;
  /* alternative box mode */
  box-sizing: border-box;
}

/* *UNIVERSAL SELECTOR */
/* there are properties which do not inherit */
*,
*::before,
*::after {
  /* all elements inherit the box model */
  box-sizing: inherit;
  /* margin and padding removed */
  margin: 0;
  padding: 0;
}

/* *RESETING BUTTONS, INPUTS, TEXTAREAS */
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font);
}

/* *SETTING BODY FONTS */
body {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-normal);
  color: var(--text-color);
  background-color: var(--body-color);
}

/* *SETTING LINKS OR ANCHORS */
a {
  text-decoration: none;
}

/* *TITLES OR ALL H's */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

/* *SETTING ULs AND OLs */
ul,
ol {
  list-style: none;
}

/* *SETTING IMAGES */
img {
  /* will fit the its full dimentios and takes the width of its father's width */
  max-width: 100%;
  height: auto;
}

/* *SETTING BUTTONS */
button {
  border: none;
  outline: none;
  /* transparent 'cause we can change its color sooner or later */
  background-color: transparent;
  /* if a user selects a button it wont highlight */
  user-select: none;
  cursor: pointer;
}

/* *GLOBAL */
.section {
  /* top, left-right, bottom */
  padding: var(--sp-2) 0 var(--sp-1);
}

.section--title,
.container {
  max-width: 1024px;
  /* small devices top-bottom, left-right*/
  margin: 0 1rem;
}

/* *STYLING LOADER */
.loader {
  /* loader will fit the full screen and if user scrolls down, loader will remain with user's pointer*/
  position: fixed;
  /* it will start from top-left */
  top: 0;
  left: 0;
  /* it fits device's full width and height */
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: var(--z-modal);
  /* it wont fit full width */
  display: flex;
  /*completely centered-horizontally*/
  justify-content: center;
  /*completely centered-vertically*/
  align-items: center;
}

/* *STYLING LOADER CONTAINER */
.loader__container span {
  /* since it's a span, the display is changed */
  display: inline-block;
  width: var(--sp-3);
  height: var(--sp-3);
  background-color: var(--primary-color);
  border-radius: 50%;
  animation: pulse 1s infinite ease-in-out;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* *MOBILE FIRST */
/* HEADER */
.header {
  /* header scrolls with user */
  position: fixed;
  /* starts bottom-left */
  bottom: 0;
  left: 0;
  /* full width */
  width: 100%;
  background-color: var(--bg-color);
  z-index: var(--z-fixed);
  /* no scrolls horizontally nor vertically, 10px for blur and color */
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 10%);
}

/* styling nav */
.nav {
  /* height: var(--header-height); from .header */
  /* nav will have this heigth */
  height: var(--header-height);
  /* position buttons next to each other */
  display: flex;
  /* generates space between elements */
  justify-content: space-between;
  /* align buttons at center-horizontally */
  align-items: center;
}

/* *NAV LOGO */
.nav__logo {
  /*  */
  display: flex;
  /* align button at center-horizontally */
  align-items: center;
}

/* *LOGO ICON */
/* icon resizes */
.logo--icon {
  width: 3rem;
  height: 3rem;
  color: var(--primary-color);
}

/* nav menu */
/* max width, 0px up to 768px everything changed here will be erased at 769px*/
@media (max-width: 768px) {
  .nav__menu {
    /* this menu will scrolls with user */
    position: fixed;
    /* this menu will appear upwards */
    bottom: var(--header-height);
    /* it will start from left */
    left: -100%;
    /* it will fit full width */
    width: 100%;
    /* calculated value, it will increase depending on its max content */
    /* max-content (max width) and then its var(--header-height) */
    height: calc(max-content - var(--header-height));
    /* padding only to elements top, sides, bottom*/
    /* this padding helps to get the menu out of the button */
    padding: var(--sp-3) 0 var(--sp-2);
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
    /* menu will appear from left so cart can appear from right*/
    /* appear from left with .5secons and ease in out (entrada por salida) */
    transition: left 0.5s ease-in-out;
  }
}

/* *STYLING CLOSE BUTTON */
.nav__menu .btn--close {
  position: absolute;
  /* it will be separated a bit from top */
  top: var(--sp-0-75);
  /* it will be separated a bit from right */
  right: var(--sp-0-75);
  /* border: 1px solid; */
  width: var(--sp-2);
  height: var(--sp-2);
  font-size: var(--medium-font);
  z-index: var(--z-fixed);
  /* centered icon */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* *STYLING LINKS START AND PRODUCTS */
/* links are inline elements */
/* styling so they can fit full width */
.nav__link {
  display: flex;
  /*completely centered-vertically*/
  align-items: center;
  /* padding bottom-right, letf-right */
  padding: var(--sp-0-75) var(--sp-1);
  color: var(--text-color);
  /* transiton to change color when user hovers cursor */
  transition: color 0.3s ease-in-out;
}

/* transiton to change color when user hovers cursor */
.nav__link:hover {
  color: var(--primary-color);
}

/* *NAV BUTTONS */
.nav__buttons {
  display: flex;
  align-items: center;
  gap: var(--sp-1);
}

/* *BUTTONS ICONS */
.nav__btn i {
  /* increase font size */
  font-size: 1.5rem;
}

/* *CART BUTTON */
/* btn--cart and notification will remain together */
/* position relative, bag backwards */
.btn--cart {
  position: relative;
}

.notify {
  /* position absolute, notification will be in front of the bag */
  position: absolute;
  /* top and right position of the notification */
  top: -7px;
  right: -12px;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  font-size: var(--tiny-font);
  color: var(--bg-color);
  /* button centered */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* button will desapear and something is added, button appears*/
  opacity: 0;
  visibility: hidden;
  /* transition will be appllied to property opacity and visibility */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* *SHOW MENU */
/* this class will allow us to show button */
.show--menu {
  left: 0;
}


/* *MAIN */
/* *PRODUCTS */

/* *PRODUCTS__CONTAINER RESPONSIVE DESIGN */
/* THIS REPONSIVENESS PROPERTIES WERE ADDED AFTER FINISHING WITH MOBILE FIRST */
.products__container {
  /* grid for container which evolves all cards without specifing specific columns numbers, insted we're using a specific keyword which introduces coluns automatically*/
  display: grid;
  /* repeat(calculate father's width, minmax(250px, 1fr) */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--sp-2);
}

.products__title {
  /* margin bottom to move downwards the image from title */
  margin-bottom: var(--sp-2);
}

.product {
  /* everything defined inside => article class="product" and overflows doesnt show up*/
  overflow: hidden;
}

/* *PRODUCT IMAGE */
.product__image {
  /* reducing image */
  padding: var(--sp-1);
  background-color: var(--card-color);
}

/* *PRODUCT IMAGE IMG */
.product__image img {
  /* when selecting the image, image goes up */
  transition: transform .3s ease-in-out;
}

/* *PRODUCT IMAGE HOVER */
.product:hover img {
  /* whenever the mouse hovers around or inside the image a transform will be applied into the y axe */
  transform: translateY(-15px);
}

/* *PRODUCT CONTENT, INFORMATION */
/* *PRODUCT CONTENT */
.product__content {
  /* since buy button will be moved, position relative is needed */
  position: relative;
  /* this will suit leftover cards price, stock, title*/
  display: grid;
  /* we're gonna have a repeat(3 columns, 1fraction) we have 3 items price, stock, name*/
  grid-template-columns: repeat(3, 1fr);
  /* centering items (price, stock, name), not necesity of flex 'cause we're using grid */
  align-items: center;
  background-color: var(--bg-color);
  /* padding so it wont be too close to borders */
  padding: var(--sp-1-5);
  /* min width, it wont increase too much */
  min-width: 109px;
}

/* *ADD BUTTON */
.product__btn {
  /* since we're moving the button, but we need the full content to remain in its place */
  position: absolute;
  /* has to be at top-right*/
  top: 0;
  /* a bit of separation from rigth border */
  right: var(--sp-1-5);
  /* width and height will help us to square the button */
  width: 45px;
  height: 45px;
  background-color: var(--bg-color);
  /* this creates a square shadow around the button */
  box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
  /* rounds up the icon */
  border-radius: 50%;
  /* since button is too close, adding a transform ups the button at 50% between product__image and product__content */
  transform: translateY(-50%);
  /* icon centered */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--medium-font);
  /* change your color when mouse hovers over you */
  transition: background-color .4s ease-in-out, color .4s ease-in-out;
  /* border: 1px solid red; */
}

/* *STYLING TRANSITION */
.product__btn:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}


/* adjusting price, stock and name (title) to take as much colums as they need */
/* *PRODUCT PRICE */
.product__price {
  /* takes only one column */
  grid-column: span 1;
}

/* *PRODUCT STOCK */
.product__stock {
  /* takes two columns */
  grid-column: span 2;
  /* place at the end of the grid*/
  justify-self: self-end;
  font-size: var(--small-font);
}

/* *PRODUCT NAME (TITLE) */
.product__title {
  /* takes three columns */
  grid-column: span 3;
}

/* *FOOTER */
.footer {
  background-color: var(--card-color);
}

/* *FOOTER CONTAINER AND FOOTER TOP */
.footer__container,
.footer__top {
  /* display grid, we're gonna control them with grid */
  display: grid;
  /* row separation */
  row-gap: var(--sp-1-5);
}

/* *FOOTER TITLE */
.footer__title {
  /* separates from social icons */
  margin-bottom: var(--sp-0-75);
}

/* *FOOTER LIST (icons)*/
.footer__social {
  /* display flex, icons are placed next to each othet */
  display: flex;
  justify-content: center;
  /* align horizontally */
  align-items: center;
  /* separation between icos */
  gap: var(--sp-1-5);
}

/* *FOOTER LINK */
.footer__link {
  /* same as icons  */
  display: flex;
  /* align vertically */
  justify-content: center;
  /* align horizontally */
  align-items: center;
  /* sizing up */
  width: var(--sp-2-5);
  height: var(--sp-2-5);
  color: var(--bg-color);
  background-color: var(--title-color);
  /* rounding them up */
  border-radius: 50%;
  font-size: 1.75rem;
  transition: background-color .4s ease-in-out;
}

/* *FOOTER LINK HOVER */
.footer__link:hover {
  /* when curson hovers */
  background-color: var(--primary-color);

}

/* *FOOTER BOTTOM */
.footer__bottom {
  text-align: center;
}

/* *CART */
.cart {
  /* position fixed, for mobile devices it'll show up like header height*/
  position: fixed;
  /* cart will show up from right  */
  bottom: var(--header-height);
  right: -100%;
  /* for mobile devices it'll have a 100% width */
  max-width: 375px;
  width: 100%;
  /* depending on viewport height, cart's height will be calculated with header's height*/
  /* cart will cover everything execept header */
  height: calc(100vh - var(--header-height));
  background-color: var(--bg-color);
  z-index: var(--z-fixed);
  /* transiton will show up from right */
  transition: right .5s ease-in-out;
}


/* *RESPONSIVE DESIGN */

/* *SHOW CART */
.show--cart {
  right: 0;
}



/* * */
/* * */
/* * */
/* * */


/* *CART CONTAINER */
.cart__container {
  display: grid;
  /* 1fraction to all columns */
  grid-template-columns: 1fr;
  /* we need different  rows with differnt sizes*/
  /* header, content, bottom buttons */
  grid-template-rows: 10% 70% 20%;
  height: 100%;
}

/* *CART HEADER */
.cart__header {
  /* using grid to separate header from h3 button */
  display: grid;
  /* creation of three columns */
  /* title, x button, blank space */
  grid-template-columns: 2fr 2fr .5fr;
  /* centering items */
  align-items: center;
  /* it takes its full width */
  width: 100%;
  /* top, right, bottom, left */
  padding: var(--sp-1-5) 0 0 var(--sp-1);
}

/* *CART TITLE */
.cart__title {
  /* cart__title takes 2 colums */
  grid-column: span 2;
}

/* *CART BUTTON */
.cart__btn.btn--close {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 3px;
  width: 3px; */
  font-size: var(--medium-font);
}

/* *CART BODY */
.cart__body {
  /* padding to all directions */
  padding: var(--sp-1);
  /* when more cards are added inside cart__doby a scroll bar appears so all items can be displayed */
  overflow-y: auto;
}

/* *CART EMPTY */
.cart__empty {
  /* shows when no items are added */
  display: flex;
  /*  */
  align-items: center;
  /* cart__btn and text separate from each other */
  gap: var(--sp-0-51);
  /* both btn and text size up */
  font-size: var(--normal-font);
}

/* *ARTICLES ADDED TO CART */
.article {
  /* 2 columns => image 80px, remaining column content (title, price, buttons and trash */
  display: grid;
  grid-template-columns: 80px 1fr;
  /* it has just one row of one fraction */
  grid-template-rows: 1fr;
  /* separates image from information */
  column-gap: var(--sp-1);
  /*  margin bottom so it can pull apart from articles to be added */
  /* for mobile versions */
  margin-bottom: var(--sp-1);
}

/* *ARTICLE IMAGE */
/* styling content only */
.article__image {
  position: relative;
  /* width and height must be the same so they fit grid-template-columns: 80px */
  width: 80px;
  height: 80px;
  /* this is only if image moves or gets out of its grid */
  overflow: hidden;
  border: 1px solid var(--card-color);
  /* align it so it gets centered betwen text and quantity */
  /* align yourself to the center */
  align-self: center;
}

/* *ARTICLE IMAGE */
/* styling image */
.article__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* *ARTICLE CONTENT */
.article__content {
  /* starting grid */
  display: grid;
  /* centering the content */
  align-items: center;
  /* create 4 columns of 1 fraction each */
  /* article: name, price, quantity and delete */
  grid-template-columns: repeat(4, 1fr);
  /* create 2 rows => first one of 1 fraction and the second one of 30px */
  grid-template-rows: 1fr 30px;
}

/* *ARTICLE TITLE */
.article__title {
  /* fits 4 columns */
  grid-column: span 4;
}

/* *ARTICLE QUANTITY */
.article__quantity {
  /* fits 2 columns */
  grid-column: span 2;
  /* display flex to adjust its content */
  display: flex;
  align-items: center;
  /* gap between elements */
  gap: var(--sp-1);
  /* center yourself to center */
  /* it centers between the two columns */
  justify-self: center;
}

/* *TRASH BUTTON */
.remove-from-cart {
  font-size: 1.25rem;
  /* centering in the column */
  display: flex;
  align-items: center;
  /* move yourself at the end */
  justify-self: flex-end;
}


/* *CART FOOTER */
.cart__footer {
  /* cart footer separated by 3 rows */
  display: grid;
  /* 4 colums 1 fraction each */
  grid-template-columns: repeat(4, 1fr);
  /* to define rows => 2 rows, 1fraction each */
  grid-template-rows: repeat(2, 1fr);
  /* centering elements vertically, items downwards*/
  align-items: center;
  background-color: var(--card-color);
  /* padding to all directions */
  padding: var(--sp-1);
  /* gap between rows */
  row-gap: var(--sp-1);
}

/* *CART COUNTER AND CART TOTAL*/
/* buy button will be downwards and counter and total separated to each other */
.cart__count {
  /* grid-colum => it takes 2 columns */
  grid-column: span 2;
  font-size: var(--small-font);
}

.cart__total {
  /* grid-colum => it takes 2 columns */
  grid-column: span 2;
  /* align yourself at the end */
  justify-self: flex-end;
}

/* *BUY BUTTON*/
/* buy button will be rectangle and black */
.cart__btn.btn--buy {
  /* take all four colums */
  grid-column: span 4;
  background-color: var(--title-color);
  color: var(--bg-color);
  /* padding to all sides */
  padding: var(--sp-1);
}

/* *RESPONSIVENESS DESIGN */
/* THESE PROPERTIES WERE ADDED AFTER MOBILE FIRST */

/* *MEDIA QUERIES */
/* the minimun width to be applied these rules is 768px */
@media (min-width: 768px) {
  :root {
    --header-height: 75px;
  }

  /* for bigger screens */
  .header {
    /* header will show at top screen */
    top: 0;
    bottom: unset;
  }

  .nav__list {
    /* centering elements start and products*/
    display: flex;
    align-items: center;
  }

  /* hiding buttons close and  menu */
  .nav__menu .btn--close,
  .btn--menu {
    display: none;
  }

  .main {
    /* making this change because nav bar is hiding h2 products */
    /* this shows h2 products */
    padding-top: var(--header-height);
  }

  /* *PRODUCT TITLE */
  .product__title {
    /* in bigger screens the product name is too big */
    font-size: var(--small-font);
  }

  /* *CART */
  /* when showing cart, for mobile devices nav-bar appears at bottom but for bigger screens nav-bar appears at top and it has a space at bottom of cart*/
  .cart {
    /* cart takes full space and goes straight to header */
    top: var(--header-height);
  }

}

/* *since .section--title, .container only have 1rem in border it's not filling the full screen */
/* when the screen fulfills 1024px, such 1rem has to fill the screen automatically */
@media (min-width: 1024px) {
  .section--title,
  .container {
    /* bigger screens top-bottom, left-right*/
    /* all items will be centered automatically */
    margin: 0 auto;
  }
}



/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */